<p>productdetails works!</p>
<p [style.color] = 'color'>{{ data }} {{ 1 + 2 }}</p>
<div (click) = 'method()'> click on content </div>
<!-- <input type="text" (keyup) = "update($event.target.value)"> -->
<!-- <input type="text" (keyup.enter) = "update($event.target.value)"> -->
<input type="text" #user (keyup) = "update(user.value)" placeholder="template refernce var">
<input type="text" value = "{{color}}">
<input type="text" [value] = "color">
<a href="{{ hrefVal }}"> google </a>
<a [href]=" hrefVal"> google 1 </a>






cd 





